.logo {
    height: 20rem;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;

    &__item {
        padding-right: 2rem;
        font-size: 2rem;
    }

    &__link {
        text-decoration: none;
        color: var(--color-secondary);
    }
 
}