.logo {
    height: 23rem;
    padding-top: 2.3rem;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;

    &__item {
        padding-right: 5rem;
        font-size: 2rem;
    }

    &__link {
        text-decoration: none;
        color: var(--color-secondary);
        position: relative;
        
        &::after {
            border-top: .1em solid black;
            content: "";
            position: absolute;
            right: 100%;
            bottom: -.10em;
            left: 0;
            transition: right .8s cubic-bezier(0,.5,0,1);
        }

        &:hover::after {
            right: 0;
        }
    }
}  
 ///////////BUTTON
.container-btn {
    width: 20rem;
    height: 40rem;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
}
.center {
    width: 18rem;
    height: 6rem;
    position: absolute;
  }
  
  .btn {
    width: 18rem;
    height: 6rem;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--color-secondary);
    outline: none;
    transition: 1s ease-in-out;

    &:hover {
      transition: 1s ease-in-out;
      background: var(--color-primary);
    }

    &:hover svg {
      stroke-dashoffset: -480;
    }
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: var(--color-primary);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn span {
    color: var(--color-secondary);
    font-size: 1.8rem;
    font-weight: 400;
  }
 /////////END OF BUTTON
 
 ///////////HERO


///////MAIN CARDS
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 50%;
  perspective: 100rem;
  margin: 3rem;
  padding-left: 5rem;
  
  .flip-card-inner {
    width: 30rem;
    height: 40rem;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
    &__front, &__back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; 
      backface-visibility: hidden;
      color: black;
      background-color: var(--color-primary);
    }
    
    &__front {

      .standard, .advanced, .pro {
        font-size: 3rem;
        padding-top: 1rem;
        background: var(--color-secondary);
        color: var(--color-primary);
      }
      .benefits {
        width: 80%;
        padding-left: 6rem;
        position: relative;
        text-align: center;
        list-style: none;
        padding-top: 2rem;
          
        &__items {
            margin: 2rem;
            font-size: 2rem;
            border-bottom: 2px solid #eee;
          }
        }
      }
    
    &__back {
     transform: rotateY(180deg);
  
    .price-box {
      &__only {
        font-size: 3rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
      }

      &__per-month {
        font-size: 3rem;
      }

      &__price {
        font-size: 5rem;
        margin-bottom: 2rem;
      }
    }

    .button {
        border-radius: 4px;
        background-color: var(--color-secondary);
        border: none;
        color: #fff;
        text-align: center;
        font-size: 3.2rem;
        padding: 1.6rem;
        width: 22rem;
        transition: all 0.5s;
        cursor: pointer;
        margin: 3.6rem;
        box-shadow: 0 1rem 2rem -8px rgba(0, 0, 0,.7);
      }
        button {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;

          &::after {
            content: '»';
            position: absolute;
            opacity: 0;  
            top: 1.4rem;
            right: -2rem;
            transition: 0.5s;
          }

          &:hover{
            padding-right: 2.4rem;
            padding-left:8px;
          }

          &:hover:after {
            opacity: 1;
            right: 1rem;
          }
        }
      }
    }
  } 
   
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
///////END OF CARDS