@charset "UTF-8";
:root {
  --color-primary: #fff;
  --color-secondary: #1a1919;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  background-color: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100vh;
  background-color: var(--color-secondary);
  margin-top: -1.5rem;
}

.container {
  max-height: 180rem;
  max-width: 150rem;
}

.header {
  height: 10rem;
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  background-image: url(../img/gym.jpg);
  background-size: cover;
  background-size: top;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70rem;
}

.logo {
  height: 23rem;
  padding-top: 2.3rem;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.top-nav__item {
  padding-right: 5rem;
  font-size: 2rem;
}

.top-nav__link {
  text-decoration: none;
  color: var(--color-secondary);
  position: relative;
}

.top-nav__link::after {
  border-top: .1em solid black;
  content: "";
  position: absolute;
  right: 100%;
  bottom: -.10em;
  left: 0;
  -webkit-transition: right 0.8s cubic-bezier(0, 0.5, 0, 1);
  transition: right 0.8s cubic-bezier(0, 0.5, 0, 1);
}

.top-nav__link:hover::after {
  right: 0;
}

.container-btn {
  width: 20rem;
  height: 40rem;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5rem;
}

.center {
  width: 18rem;
  height: 6rem;
  position: absolute;
}

.btn {
  width: 18rem;
  height: 6rem;
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--color-secondary);
  outline: none;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.btn:hover {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background: var(--color-primary);
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: var(--color-primary);
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.btn span {
  color: var(--color-secondary);
  font-size: 1.8rem;
  font-weight: 400;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 50%;
  -webkit-perspective: 100rem;
          perspective: 100rem;
  margin: 3rem;
  padding-left: 5rem;
}

.flip-card .flip-card-inner {
  width: 30rem;
  height: 40rem;
  position: relative;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card .flip-card-inner__front, .flip-card .flip-card-inner__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: black;
  background-color: var(--color-primary);
}

.flip-card .flip-card-inner__front .standard, .flip-card .flip-card-inner__front .advanced, .flip-card .flip-card-inner__front .pro {
  font-size: 3rem;
  padding-top: 1rem;
}

.flip-card .flip-card-inner__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card .flip-card-inner__back .price-box__only {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.flip-card .flip-card-inner__back .price-box__price {
  font-size: 5rem;
}

.flip-card .flip-card-inner__back .button {
  border-radius: 4px;
  background-color: var(--color-secondary);
  border: none;
  color: #fff;
  text-align: center;
  font-size: 3.2rem;
  padding: 1.6rem;
  width: 22rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3.6rem;
  -webkit-box-shadow: 0 1rem 2rem -8px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 2rem -8px rgba(0, 0, 0, 0.7);
}

.flip-card .flip-card-inner__back button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.flip-card .flip-card-inner__back button::after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 1.4rem;
  right: -2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.flip-card .flip-card-inner__back button:hover {
  padding-right: 2.4rem;
  padding-left: 8px;
}

.flip-card .flip-card-inner__back button:hover:after {
  opacity: 1;
  right: 1rem;
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
/*# sourceMappingURL=main.css.map */